# Unity generated
Schizophrenia/[Ll]ibrary/
Schizophrenia/[Tt]emp/
Schizophrenia/[Oo]bj/
Schizophrenia/[Bb]uild/
Schizophrenia/[Bb]uilds/
Schizophrenia/[Ll]ogs/
Schizophrenia/[Uu]ser[Ss]ettings/
Schizophrenia/Library/PackageCache/

# VS/Rider
.vs/
.idea/
*.csproj
*.sln
